#progress-bar-label {
    position: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #573280;
}

.text {
  padding: 20px;
  font-weight: bold;
  color: white;
}
