@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap");

:root {
  /* Color variables */
  --main: #ffa306;
  --secondary: #573280;
  --accent: #23022f;
  /*--dark: #23252e; */
  --light: #ebebeb;
  /* Font variables */
  --headers: "Cinzel Decorative", serif;
  --text: "Inter Tight", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  color: var(--dark);
  margin: unset;
  height: 100vh;
  font-family: var(--text), sans-serif;
  line-height: 1.4;
}

body > nav {
  background-color: var(--light);
  color: var(--accent);
  border-right: 2px solid var(--accent);
  width: 17%;
  padding: 70px 30px 30px 30px;
}

body > nav ul {
  list-style: none;
  padding-left: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headers);
}

body > nav li:hover,
#dashboard:hover {
  cursor: pointer;
  color: var(--main);
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  width: 83%;
  height: 100%;
}

main > header {
  font-family: var(--headers);
  background-color: var(--secondary);
  color: var(--main);
  font-size: large;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0px 5px 15px #23022f;
  z-index: 2;
}

main > header img {
  height: 80px;
  transform: scale(1.6);
  margin: 0 20px;
}

#componentBox {
  flex-grow: 1;
  overflow: auto;
  padding: 40px 20px 20px 20px;
}

svg {
  background-color: var(--dark);
}

.axis {
  color: var(--light);
}
