#progress {
    padding: 20px;
  }
  
  
  .radial-progress { 
   
      font-family: Arial, sans-serif;
      font-size: 2rem;
      font-weight: bold;
     
  }

text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color:white;
}
