#progress {
    padding: 20px;
  }
  
.text {
  padding: 20px;
  font-weight: bold;
  color: white;
}
  
  .radial-progress { 
   
      font-family: Arial, sans-serif;
      font-size: 2rem;
      font-weight: bold;
     
  }

