.title {
  font-size: 1.2rem;
  line-height: 110%;
  font-family: var(--headers);
}

.heading-title {
  font-family: var(--headers);
  font-size: 20px;
  font-weight: bold;
}

.heading-description {
  font-family: var(--text);
  font-size: 16px;
}

.secondary-font {
  font-family: var(--text);
  font-size: 20px;
  font-weight: bold;
}

.headings {
  font-family: var(--text);
  font-size: 20px;
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.inline-text {
  font-family: var(--text);
  font-size: 30px;
  font-weight: bold;
}

.heading-text {
  font-size: 16px;
}

.inline-text-elements {
  font-size: 16px;
}

.paragraph-text {
  font-size: 30px;
  font-weight: bold;
}

.paragraph-desc {
  font-size: 16px;
}

.alert-danger {
  padding: 20px;
  width: 60%;
  border-radius: 10px;
}